<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raw_Data_AoB_Extractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Raw_Data_AoB_Extractor.Properties.Settings>
            <setting name="Style" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KHUserName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="KHPassword" serializeAs="String">
                <value>Pass</value>
            </setting>
            <setting name="KHDomainComboIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nextupdatenotification" serializeAs="String">
                <value>1986-03-25</value>
            </setting>
            <setting name="defaultfont" serializeAs="String">
                <value>Courier New, 9pt</value>
            </setting>
            <setting name="unity_autoclose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="unity_keepMetadata" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="unity_resolveBranches" serializeAs="String">
                <value>False</value>
            </setting>
        </Raw_Data_AoB_Extractor.Properties.Settings>
    </userSettings>
</configuration>